* {
    box-sizing: border-box;
}

body {
    background-color: #FAF1E6;
}

.gap > i {
    margin-right: 5px;
}

.container {
    margin-bottom: 75px;
}

.container > h2 {
    font-size: 200%;
}

form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    outline: 1px solid #FF8282;
    padding: 20px;
}